<section class="edit-story">
  <div class="story-snippets edit-story-container"
    ng-if="!editStoryCtrl.approved">
    <h2>STORHEE</h2>
    <div ng-repeat="snippets in editStoryCtrl.currentStory"
      snippets="snippets">
      {{snippets}}
    </div>

    <div ng-repeat="pendingSnippets in editStoryCtrl.currentStory"
      pendingSnippets="pendingSnippets">
      {{pendingSnippets}}
      <!-- where the snippets to be approved appear!! -->
    </div>
  </div>

  <div class="story-snippets"
    ng-if="editStoryCtrl.approved">
    <a href="/#!/story#view">Return to story</a>
    <a href="/#!/dashboard">Back to your shelf</a>
  </div>
</section>
