<section class="edit-story">
  <div class="story-snippets"
    ng-if="!editStoryCtrl.approved">
    <h2>{{editStoryCtrl.currentStory.title}}</h2>
    <div class="edit-story-container">
      {{editStoryCtrl.currentStory.startSnippet}}
      <div class="snippet-container" ng-repeat="snippet in editStoryCtrl.currentStory.snippets"
        snippet="snippet">
        Snippets will populate here
        {{snippet.snippetContent}}
      </div>
    </div>

    <div class="pending-snippet-container" ng-repeat="pendingSnippet in editStoryCtrl.currentStory.pendingSnippets"
      pendingSnippet="pendingSnippet">
      {{pendingSnippet.snippetContent}}
      <button type="button" name="button"
      ng-click="editStoryCtrl.setChosenSnippet(pendingSnippet)">approve!</button>
    </div>
    <button ng-click="editStoryCtrl.approveSnippet()">submit revisions</button>
  </div>

  <div class="story-snippets"
    ng-if="editStoryCtrl.approved">
    <a href="/#!/story#view">Return to story</a>
    <a href="/#!/dashboard">Back to your shelf</a>
  </div>
</section>
