<section class="signup">

  <h2>{{ signupCtrl.title }}</h2>

  <div class="join-container"
    ng-if="landingCtrl.showSignup">
    <div class="join-inner">
      <signup-controller></signup-controller>
      <p class="signin-btn">already a member?</p>
      <a href="/#!/signin" ng-click="landingCtrl.showSignup=false" class="signin-btn">signin</a>
    </div>
  </div>

  <div ng-if="!landingCtrl.showSignup">
    <div class="join-inner">
      <signin-controller></signin-controller>
      <p class="signin-btn">need an account?</p>
      <a href="/#!/signup" ng-click="landingCtrl.showSignup=true" class="signin-btn">Signup</a>
    </div>
  </div>

</section>
