<section class="signin">
  <h2>signin</h2>
  <form
    name="signinForm"
    class="signinForm"
    ng-submit="signinCtrl.signin()"
    novalidate>
      <div
        ng-class="{
          'error': signinForm.username.$invalid,
          'success': signinForm.username.$valid
        }">
        <input type="text"
          class="input-std"
          name="username"
          placeholder="username"
          ng-minlength="4"
          ng-model="signinCtrl.user.username" required>
      </div>
      <div
        ng-class="{
          'error': signinForm.password.$invalid && signinForm.$submitted,
          'success': signinForm.password.$valid
        }">
      <input type="password"
        class="input-std"
        name="password"
        ng-disabled="signinForm.username.$invalid"
        placeholder="password"
        ng-minlength="8"
        ng-model="signinCtrl.user.password" required>
      </div>
    <button type="submit">signin</button>
  </form>
</section>
